@page "/api/Seguimiento"
@inject IHttpServicio http


<div class="card">
    <div class="card-header">
        Estado: @seguimiento.Estado - Cliente: @cliente.Nombre
    </div>
    <div class="card-body">
        <p>Dirección: @cliente.Direccion</p>
        <p>Teléfono: @cliente.Telefono</p>
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">@seguimiento.Comentario</p>

        <h6>Comentarios</h6>
        <ul>
            @foreach (var comentario in comentarios)
            {
                    <li>@comentario</li>
            }
        </ul>

        <h6>
            Mantenimiento
        <span class="badge bg-primary">@(seguimiento.Mantenimiento_SN ? "Sí" : "No")</span>
        </h6>
    </div>
</div>

@code 
{
    private SeguimientoDTO seguimiento = new();
    private List<string> comentarios = new();
    private SeguimientoClienteDTO cliente = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var seguimiento = await http.Get<SeguimientoDTO>("api/seguimientos");
        var comentario = await http.Get<List<string>>("api/seguimientos/");
        var cliente = await http.Get<SeguimientoClienteDTO>("api/Seguimiento");
    }
}