@page "/Seguimiento"
@inject IHttpServicio http


@foreach (var seguimiento in seguimiento) 
{ 
  <div class="card"> 
    <div class="card-header"> Estado: @seguimiento.Estado - Cliente: @seguimiento.ClienteNombre </div> 
    <div class="card-body"> 
        <p>Dirección: @seguimiento.ClienteDireccion</p> 
        <p>Teléfono: @seguimiento.ClienteTelefono</p> 
        <h5 class="card-title">Descripción</h5> <p class="card-text">@seguimiento.ObraDescripcion</p> 
        <h6>Comentarios</h6> <ul> 
            @foreach (var comentario in seguimiento.Comentarios) 
            { <li>@comentario</li> } 
        </ul> 
        <h6>Mantenimiento</h6> <span class="badge bg-primary">@(seguimiento.MantenimientoSN ? "Sí" : "No")</span> 
    </div> 
  </div>

@code 
{
    private SeguimientoClienteDTO seguimiento = new SeguimientoClienteDTO();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var seguimientoClienteDTO = await http.Get<SeguimientoClienteDTO>("api/Seguimiento");
    }
}