@page "/api/Seguimientos"
@inject IHttpServicio http

@foreach (var seguimiento in seguimiento)
{
    <div class="card">
        <div class="card-header">
            Estado:
            <select value="@seguimiento.Estado" @onchange="(e) => ActualizarEstado(seguimiento, e.Value.ToString())">
                <option value="sin iniciar">Sin Iniciar</option>
                <option value="iniciado">Iniciado</option>
                <option value="terminado">Terminado</option>
            </select>
            - Cliente: @seguimiento.ClienteNombre
        </div>
        <div class="card-body">
            <p>Dirección: @seguimiento.ClienteDireccion</p>
            <p>Teléfono: @seguimiento.ClienteTelefono</p>
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">@seguimiento.ObraDescripcion</p>
            <h6>Comentarios</h6>
            <ul>
                @foreach (var comentario in seguimiento.Comentarios)
                {
                    <li>@comentario</li>
                }
            </ul>
            <input type="text" @bind="seguimiento.NuevoComentario" placeholder="Agregar comentario" />
            <button @onclick="() => AgregarComentario(seguimiento)">Agregar</button>
            <h6>Mantenimiento</h6>
            <span class="badge bg-primary">@(seguimiento.MantenimientoSN ? "Sí" : "No")</span>
        </div>
    </div>
}

@code
{
    private List<SeguimientoClienteDTO> seguimiento = new List<SeguimientoClienteDTO>();
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    public async Task Mostrar()
    {
        var resp = await http.Get<List<SeguimientoClienteDTO>>("api/Seguimientos");

        if (!resp.Error)
        {
            seguimiento = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }

    public async Task AgregarComentario(SeguimientoClienteDTO seguimientoCliente)
    {
        if (!string.IsNullOrWhiteSpace(seguimientoCliente.NuevoComentario))
        {
            var resp = await http.Post($"api/Seguimientos/{seguimientoCliente.Id}/comentarios", seguimientoCliente.NuevoComentario);
            if (!resp.Error)
            {
                seguimientoCliente.Comentarios.Add(seguimientoCliente.NuevoComentario);
                seguimientoCliente.NuevoComentario = "";
            }
            else
            {
                Mensaje = await resp.ObtenerError();
            }
        }
    }

    public async Task ActualizarEstado(SeguimientoClienteDTO seguimientoCliente, string nuevoEstado)
    {
        seguimientoCliente.Estado = nuevoEstado;
        var resp = await http.Put($"api/Seguimientos/{seguimientoCliente.Id}", seguimientoCliente);
        if (resp.Error)
        {
            Mensaje = await resp.ObtenerError();
        }
    }
}
