@page "/Seguimientos"
@inject HttpClient http


@foreach (var seguimiento in seguimiento) 
{ 
  <div class="card"> 
    <div class="card-header"> Estado: @seguimiento.Estado - Cliente: @seguimiento.ClienteNombre </div> 
    <div class="card-body"> 
        <p>Dirección: @seguimiento.ClienteDireccion</p> 
        <p>Teléfono: @seguimiento.ClienteTelefono</p> 
        <h5 class="card-title">Descripción</h5> <p class="card-text">@seguimiento.ObraDescripcion</p> 
        <h6>Comentarios</h6> <ul> 
            @foreach (var comentario in seguimiento.Comentarios) 
            { <li>@comentario</li> } 
        </ul> 
        <h6>Mantenimiento</h6> <span class="badge bg-primary">@(seguimiento.MantenimientoSN ? "Sí" : "No")</span> 
    </div> 
  </div>
}

@code 
{
    private List<SeguimientoClienteDTO> seguimiento = new List<SeguimientoClienteDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            seguimiento = await http.GetFromJsonAsync<List<SeguimientoClienteDTO>>("api/Seguimientos");

            if (seguimiento == null)
            {
                seguimiento = new List<SeguimientoClienteDTO>();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al obtener Seguimientos: {ex.Message}");
        }
    }
  
}