@page "/api/Seguimiento"
@inject IHttpServicio http


<div class="card">
    <div class="card-header">
        Estado: @seguimiento.Estado  Cliente: @cliente.Nombre
    </div>
    <div class="card-body">
        <p>Dirección: @cliente.Direccion</p>
        <p>Teléfono: @cliente.Telefono</p>
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">@seguimiento.Comentario</p>

        <h6>
            Mantenimiento
            <span class="badge bg-primary">@(seguimiento.Mantenimiento_SN ? "Sí" : "No")</span>
        </h6>
    </div>
</div>

@code 
{
    private SeguimientoDTO seguimiento = new SeguimientoDTO();
    private ClienteDTO cliente = new ClienteDTO();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var seguimientoClienteDTO = await http.Get<ClienteDTO>("api/SeguimientoCliente"); // Nueva URL
        seguimiento = seguimientoClienteDTO.Seguimiento; // Asigna el seguimiento
        cliente = seguimientoClienteDTO.Cliente; // Asigna el cliente
    }
}